<div class="ion-text-center contenedor-bienvenida">
  <!-- Logo o imagen de bienvenida -->
  <img src="/assets/images/logo.png" alt="Logo" class="logo-bienvenida" />

  <!-- Mensaje de bienvenida -->
  <h1>Bienvenido(a)</h1>
  <h1>{{ user.firstName }} {{ user.lastName }}</h1>

  <!-- Mensaje adicional -->
  <p class="mensaje-bienvenida">
    Nos alegra tenerte aquí. Esperamos que disfrutes de la experiencia.
  </p>

  <!-- Botón de acción -->
  <ion-button color="primary" expand="block" routerLink="/inicio">
    Ir al Inicio
  </ion-button>
</div>
