<ion-content [fullscreen]="true" class="color-fondo">
  <!-- Logo DUOC UC similar a la primera página -->
  <div class="logo-login-duoc" style="text-align: center; margin-top: 20px">
    <img
      src="../../../assets/icon/Logo_DuocUC.svg.png"
      alt="Duoc UC"
      style="width: 150px"
    />
  </div>

  <!-- Título similar a la primera página -->
  <div class="header-container">
    <div class="header-box">
      <h2>Sistema de Asistencia DUOC</h2>
    </div>
  </div>

  <h3 style="text-align: center; margin-top: 20px">Mis Datos</h3>

  <!-- Campos de información del usuario -->
  <div class="container-box">
    <ion-item class="custom-item">
      <ion-label position="floating">Cuenta</ion-label>
      <ion-input [(ngModel)]="usuario.cuenta"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="usuario.apellido"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="usuario.correo"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Pregunta Secreta</ion-label>
      <ion-input [(ngModel)]="usuario.preguntaSecreta"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Respuesta Secreta</ion-label>
      <ion-input [(ngModel)]="usuario.respuestaSecreta"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="usuario.password" type="password"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input [(ngModel)]="usuario.password" type="password"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Educación</ion-label>
      <ion-select
        placeholder="Seleccione Nivel"
        [(ngModel)]="usuario.nivelEducacional.id"
      >
        <ion-select-option
          *ngFor="let nivel of listaNivelesEducacionales"
          [value]="nivel.id"
        >
          {{ nivel.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime
        [(ngModel)]="usuario.fechaNacimiento"
        displayFormat="DD/MM/YYYY"
      ></ion-datetime>
    </ion-item>

    <!-- Botones para las acciones -->
    <ion-button
      expand="block"
      style="margin-top: 20px"
      color="primary"
      (click)="guardarDatos()"
    >
      Guardar
    </ion-button>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button (click)="limpiar1()" shape="block" size="small">
            Limpiar 1
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="limpiar2()" shape="block" size="small">
            Limpiar 2
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button
            (click)="createPageTurnAnimation()"
            shape="block"
            size="small"
          >
            Limpiar 3
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button
            (click)="mostrarDatosPersonales()"
            shape="block"
            size="small"
          >
            Mostrar Datos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
