<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div class="show-in-landscape" style="text-align: center; width: 100%;">
      <img src="/assets/images/Logo_DuocUC.svg.png" alt="Logo Duoc UC" class="logo-image"> <!-- Logo centrado -->
    </div>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        Tema
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="color-fondo">
  <br>
  <div style="text-align: center; margin-top: 70px">
    <h2>Sistema de Asistencia DUOC</h2>
  </div>
  <div class="container-box">
    <h2 style="text-align: center">Inicio de sesión</h2>

    <ion-card class="login-container transparent-input">
      <ion-card-content class="transparent-input text-center">

        <ion-item class="margin-bottom-6 float-left-landscape">
          <ion-input
            label="{{ 'Login.Label.Email' | translate }}"
            labelPlacement="floating"
            [(ngModel)]="correo"
            placeholder="{{ 'Login.Placeholder.Email' | translate }}">
          </ion-input>
        </ion-item>

        <ion-item class="margin-bottom-6 float-right-landscape">
          <ion-input
            label="{{ 'Login.Label.Password' | translate }}"
            labelPlacement="floating"
            [(ngModel)]="password"
            placeholder="{{ 'Login.Placeholder.Password' | translate }}"
            type="password">
          </ion-input>
        </ion-item>

        <div class="ion-text-center margin-top-6" style="clear: both;">
          <ion-button class="enter-button normal-text" shape="round" (click)="login()">
            {{ 'Login.Button.Login' | translate }}
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>

    <div style="text-align: center; margin-top: 20px">
      <a [routerLink]="['/correo']">Recuperar Contraseña</a>
    </div>
  </div>
</ion-content>

<ion-footer>
  <a [routerLink]="['/correo']">Mi ruta DUOC</a>
</ion-footer>

