<div class="centrar">
  <div class="enmarcar">
    <h1> Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }} </h1>

    <h1 *ngIf="!usuario.asistencia.idAsignatura">
      Asistencia sin información
    </h1>

    <div *ngIf="usuario.asistencia.idAsignatura">
      <h1> Has quedado presente en tu clase </h1>
      <table>
        <tbody>
          <tr>
            <td>Bloque Inicio</td>
            <td>{{ usuario.asistencia!.bloqueInicio }}</td>
          </tr>
          <tr>
            <td>Bloque Término</td>
            <td>{{ usuario.asistencia!.bloqueTermino }}</td>
          </tr>
          <tr>
            <td>Día</td>
            <td>{{ usuario.asistencia!.dia }}</td>
          </tr>
          <tr>
            <td>Hora Inicio</td>
            <td>{{ usuario.asistencia!.horaInicio }}</td>
          </tr>
          <tr>
            <td>Hora Fin</td>
            <td>{{ usuario.asistencia!.horaFin }}</td>
          </tr>
          <tr>
            <td>ID Asignatura</td>
            <td>{{ usuario.asistencia!.idAsignatura }}</td>
          </tr>
          <tr>
            <td>Nombre Asignatura</td>
            <td>{{ usuario.asistencia!.nombreAsignatura }}</td>
          </tr>
          <tr>
            <td>Nombre Profesor</td>
            <td>{{ usuario.asistencia!.nombreProfesor }}</td>
          </tr>
          <tr>
            <td>Sección</td>
            <td>{{ usuario.asistencia!.seccion }}</td>
          </tr>
          <tr>
            <td>Sede</td>
            <td>{{ usuario.asistencia!.sede }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
